* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 300px;
  margin: 0 auto;
}

div li {
  display: flex;
  align-items: center;
  border: 1px solid tomato;
  border-radius: 5px 5px 0 5px;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  float: right;
}

div li button {
  margin-left: 40px;
  background: #ca4949;
}

